body{
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --heroheading-font: 'Libre Bodoni', sans-serif;
    --herodesc-font: "Zalando Sans Expanded", sans-serif;

}
.hero-container{
  position: relative;
   height: 640px  ;
  

    
}
.hero-container-image {
        
        height: 100%;
        width: 100%;
        display: block;
        
      }
.hero-container-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
   
   }
.hero-content{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 27%;
    left: 3%;
    /* border: 1px solid red; */
    gap: 10px;
    
   
}
.hero-content-heading{
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 10px;

}

.hero-content h1{
    font-family: var(--heroheading-font);
   font-size: 2.4rem;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    
    background: white;
    padding: 4px 10px;
    
    
}
.hero-content-heading-second{
    width: fit-content;
}
.hero-content-heading-first{
    width: fit-content;
}

.hero-content-desc{
    font-family: var(--herodesc-font);
    /* border: 1px solid blue; */
    display: inline-block;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    max-width: 65%;
    line-height: 2rem;
    letter-spacing: 1px;
    font-size: 15px;

}
.hero-content-desc p{
     font-weight: 00;
}
.hero-content button{
    color: white;
    background: black;
    padding: 0.5rem 2rem;
    border: none;
    font-size: 1rem;
    font-family: var(--herodesc-font);

}
.hero-container-image-mobile{
    display: none;
}
.product-heading{
    height: 80px;
    display: flex;
    /* border: 1px solid black; */
    position: relative;

}
.product-heading-featured{
position: absolute;
left: 3%;
font-family: var(--herodesc-font);
margin: 0px;

margin-top: 3%;
 font-weight: 900;
 
}


.product-heading-see {
    position: absolute;
    right: 3%;
    font-family: var(--herodesc-font);
    margin: 0px;
    margin-top: 3%;
}
.product-cards{
    display: flex;
    /* border: 1px solid black; */
    height: 400px;
    max-width: 100%;
    justify-content: space-between;
    padding: 0 3%;
    
    
}
.product-card{
  /* border: 1px solid red; */
  max-width: 350px;
  flex: 1;
  position: relative;
    
  
}
.product-card p{
    margin: 0px;;
}
.product-card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
   
   
   }
   .product-card-h{
    font-family: var(--herodesc-font);
   position: absolute;
   right: 2%;
   top: 10%;
   font-size: 0.75rem;
    color: #f50a99;
   }
    .product-card-d{
     font-family: var(--herodesc-font);
     position: absolute;
     left: 20%;
     
    }

    .ad-box{
        margin-top: 6%;
        background: black;
        height: 100px;
        display: flex;
        flex: 1;
    }






@media (max-width: 768px){
    .hero-container{
  position: relative;
   height: 550px  ;
  

    
}
   .hero-container-image{
    display: none;
   }
   .hero-container-image-mobile{
    display: block;
    height: 100%;
    width: 100%;
   }
   .hero-container-image-mobile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
   
   }
   .hero-content{
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 57%;
    left: 3%;
    /* border: 1px solid red; */
    gap: 12px;
    
    
   
}
.hero-content h1{
    
    margin-left: 0%;
    
    
    
}
.hero-content-heading{
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 6px;
    
    

}
.hero-content-heading-second{
    width: fit-content;
}
.hero-content-heading-first{
    width: fit-content;
}

.hero-content h1{
    font-family: var(--heroheading-font);
   font-size: 1.6rem;
    line-height: 1.3;
    background: white;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0.3rem 1rem  ;
   
    
    
}



.hero-content-desc{
    font-family: var(--herodesc-font);
    /* border: 1px solid blue; */
    display: inline-block;
    text-align: left;
    
    line-height: 2rem;
    letter-spacing: 0.7px;
    font-size: 15px;
    color: white;
    max-width: 95%;
    margin: 0px 0px 0px 0px;
    -webkit-font-smoothing: antialiased;

}
.hero-content-desc p{
     font-weight: 400;
     margin: 0px;
     
     
}
.hero-content button{
    color: white;
    background: black;
    padding: 0.5rem 2rem;
    border: none;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-family: var(--herodesc-font);

}
  
}